<div class="footer-one">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card-body text-center">
                    <h5 class="card-title fs-2">LOCATION</h5>
                    <p class="card-text mt-3">2215 John Daniel Drive</p>
                    <p class="card-text">Clark, MO 65243</p>
                </div>
            </div>
    
            <div class="col-sm-4">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3">AROUND THE WEB</h5>
                </div>
                <div class="text-center mt-3 fs-4">
                    <i class="fa-brands fa-facebook mx-2"></i>
                    <i class="fa-brands fa-twitter mx-2"></i>
                    <i class="fa-brands fa-linkedin mx-2"></i>
                    <i class="fa-solid fa-globe mx-2"></i>
                </div>
            </div>
    
            <div class="col-sm-4">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3">AROUND THE WEB</h5>
                    <p class="card-text mt-2">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</div>