<div class="about-color">
    <div class="container about-body">
        <div class="text-center about-comp">
            <h1 class="fw-bold">ABOUT COMPONENT</h1>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3" style="background-color: white;"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3" style="background-color: white;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ps-5">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The <br> download includes the complete source files including HTML, <br> CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The <br> download includes the complete source files including HTML, <br> CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
    </div>
</div>