<div class="contact-body">
    <div class="contact-comp">
        <div class="text-center ">
            <h1 class="fw-bold">CONATCT SECTION</h1>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div><br>
    
            <div class="form mt-5 w-50 mx-auto">
                <div class="mb-3">
                    <input type="text" required="required" placeholder="userName" class="form-control" id="form_name">
                </div>
                <div class="mb-3">
                    <input type="number" required="required" placeholder="userAge" class="form-control" id="form_name">
                </div>
                <div class="mb-3">
                    <input type="email" required="required" placeholder="userEmail" class="form-control" id="form_email">
                </div>
                <div class="mb-3">
                    <input type="password" required="required" placeholder="userPassword" class="form-control"
                        id="form_password">
                </div>
                <div>
                    <button class="btn btn-info d-block me-auto" type="submit">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>