<div class="portfolio-body">
    <div class="portfolio-comp">
        <div class="text-center">
            <h1 class="fw-bold">PORTFOLIO COMPONENT</h1>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        </div>
        <div class="container">
            <div class="row gy-5">
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/poert1.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/port2.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/port3.png" alt="">
                </div>
            
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/poert1.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/port2.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="w-100 rounded-2" src="assets/port3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


